body {
  margin: 0;
  background: black;
  color: #c0c0c0;
  font-family: monospace;
}

#boot {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
